@charset "UTF-8";

* {
	padding: 0;
	margin: 0;
}

li {
	list-style: none;
}

/* main area */

section {
	width: 1500px;
	height: 4100px;
	margin: 0 auto;
}

/* header area */

/* section area */
section>div {
	width: 1500px;
}

/* first area */
section>div#first {
	height: 4000px;
	margin-bottom: 50px;
	box-sizing: border-box;
}

/* first left */
div#first>div:nth-child(1) {
	float: left;
	height: 4000px;
	width: 1000px;
	background-color: white;
	border: 1px solid #dcdcdc;
	box-sizing: border-box;
}

div#info>div.img01 {
	height: 1000px;
	padding: 50px 50px;
	background-color: white;
	border: 1px solid #dcdcdc;
	box-sizing: border-box;
}

div#info>div.img02 {
	height: 1000px;
	padding: 50px 50px;
	background-color: white;
	border: 1px solid #dcdcdc;
	box-sizing: border-box;
}

div#info>div.img03 {
	height: 1000px;
	padding: 50px 50px;
	background-color: white;
	border: 1px solid #dcdcdc;
	box-sizing: border-box;
}

div#info>div.img04 {
	height: 1000px;
	padding: 50px 50px;
	background-color: white;
	border: 1px solid #dcdcdc;
	box-sizing: border-box;
}

/* first right */
div#first>div:nth-child(2) {
	float: left;
	height: 1000px;
	width: 500px;
	background-color: white;
	border: 1px solid black;
	position: sticky;
	top: 90px;
	box-sizing: border-box;
}

div#order>div.detail {
	height: 400px;
	padding: 50px 50px;
	background-color: white;
	border: 1px solid black;
	box-sizing: border-box;
}

div#order>div.buy {
	/*display: block !important; 
	border-radius: 0 !important;*/
	height: 200px;
	padding: 50px 50px;
	margin: 0 auto;
	background-color: white;
	border: 1px solid black;
	box-sizing: border-box;
}

div#order>div.buy>div.click>button#btn01 {
	float: left;
	width: 180px;
	height: 60px;
	background-color: gray;
	color: white;
	font-size: 15px;
}

div#order>div.buy>div.click>button#btn02 {
	float: right;
	width: 180px;
	height: 60px;
	background-color: gray;
	color: white;
	font-size: 15px;
}

div#order>div.notice {
	height: 400px;
	padding: 50px 50px;
	background-color: white;
	border: 1px solid black;
	box-sizing: border-box;
}

div#first>div:last-child {
	margin-right: 0;
}

/* second area */